[Unit]
Description=CUPS printing server daemon
After=syslog.target oki4daemon.service
Requires=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/cups
ExecStartPre=/sbin/portrelease cups
ExecStart=/usr/sbin/cupsd

[Install]
WantedBy=multi-user.target

